@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* shared style */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
.primary-color {
  color: #ff42a5;
}
.primary-btn {
  border-radius: 2.5rem;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  text-align: center;
  padding: 1rem 3rem;
}

/* navbar design started */
.navbar-container {
  display: flex;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 38px 0;
}
.brand-part {
  display: flex;
  gap: 1.9rem;
  margin-left: 150px;
}
.logo {
  width: 100%;
}
.brand-name {
  font-size: 2.8rem;
  font-weight: 700;
}
.navbar-content-container {
  display: flex;
  margin-right: 150px;
  text-align: center;
  gap: 2rem;
}
.navbar-content ul {
  display: flex;
  align-items: center;
}
.navbar-content li {
  list-style: none;
}
.navbar-content a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #3c354f;
  font-weight: 500;
}
.content-part-one {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.content-part-one a {
  margin-right: 2rem;
}
.content-part-two {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 1.25rem 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
}
.content-part-two a {
  margin-right: 1.5rem;
}
.nav-icon {
  display: flex;
  align-items: center;
}
.nav-icon i {
  font-size: 34px;
}
.nav-icon .bxl-youtube {
  color: red;
}
/* nav-bar styles end */
/* header-banner style start */
.header-banner {
  background: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 0 150px;
}
.header-banner-title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
}
.header-banner-logo {
  font-size: 5.93rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.description {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
}
.header-banner-content {
  display: flex;
  align-items: center;
  gap: 08px;
}
.btn-group {
  margin-top: 1.5rem;
  margin-right: 0.5rem;
}
.header-banner-img img {
  width: 100%;
  height: auto;
}
/* header-banner-end */
/* we-are-gammer-section-styles-start */
.gaming-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  flex-wrap: nowrap;
}
.gaming-container .gaming-content {
  width: 50%;
  text-align: end;
  margin-right: 150px;
}
.gaming-title {
  font-size: 2.5rem;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -60px;
}
.gaming-description {
  color: #534c64;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.purpose {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 1.5rem;
}
.messaze{
color: #534C64;
font-size: 1.5rem;
font-weight: 700;
margin-top: 1rem;
}
.gaming-container img {
  width: 600px;
  height: 400px;
  margin-left: 60px;
}
