@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* shared style */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
.primary-color {
  color: #ff42a5;
}
.primary-btn {
  border-radius: 2.5rem;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  text-align: center;
  padding: 1rem 3rem;
}

/* navbar design started */
.navbar-container {
  display: flex;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 38px 0;
}
.brand-part {
  display: flex;
  gap: 1.9rem;
  margin-left: 150px;
}
.logo {
  width: 100%;
}
.brand-name {
  font-size: 2.8rem;
  font-weight: 700;
}
.navbar-content-container {
  display: flex;
  margin-right: 150px;
  text-align: center;
  gap: 2rem;
}
.navbar-content ul {
  display: flex;
  align-items: center;
}
.navbar-content li {
  list-style: none;
}
.navbar-content a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #3c354f;
  font-weight: 500;
}
.content-part-one {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.content-part-one a {
  margin-right: 2rem;
}
.content-part-two {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 1.25rem 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
}
.content-part-two a {
  margin-right: 1.5rem;
}
.nav-icon {
  display: flex;
  align-items: center;
}
.nav-icon i {
  font-size: 34px;
}
.nav-icon .bxl-youtube {
  color: red;
}
/* nav-bar styles end */
/* header-banner style start */
.header-banner {
  background: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 0 150px;
}
.header-banner-title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
}
.header-banner-logo {
  font-size: 5.93rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.description {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
}
.header-banner-content {
  display: flex;
  align-items: center;
  gap: 08px;
}
.btn-group {
  margin-top: 1.5rem;
  margin-right: 0.5rem;
}
.header-banner-img img {
  width: 100%;
  height: auto;
}
/* header-banner-end */
/* we-are-gammer-section-styles-start */
.gaming-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.gaming-container .gaming-content {
  width: 50%;
  text-align: end;
  margin-right: 150px;
}
.gaming-title {
  font-size: 2.5rem;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -60px;
}
.gaming-description {
  color: #534c64;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.purpose {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 1.5rem;
}
.messaze {
  color: #534c64;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1rem;
}
.gaming-container img {
  width: 600px;
  height: 400px;
  margin-left: 60px;
}
/* online gaming */
.online-games-content {
  text-align: center;
}
.online-games-title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
}
.online-games-title > span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 700;
}
.online-games-description {
  color: #534c64;
  font-size: 1rem;
  font-weight: 400;
}
.game-type-img-container {
  display: flex;
  margin-right: 150px;
  margin-left: 150px;
  justify-content: space-between;
  margin-top: 40px;
}
.game-type-img-container img {
  width: 24%;
  height: auto;
}
/* game-play-section-style */
.game-play-container {
  display: flex;
  margin-right: 150px;
  margin-left: 150px;
  justify-content: space-between;
  align-items: center;
}
.game-play-content {
  text-align: end;
  margin-right: 150px;
  text-align: right;
}
.game-play-title {
  text-align: right;
  font-size: 3rem;
  font-weight: 700;
  margin-top: -130px;
}
.game-play-title span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.game-play-content p {
  display: flex;
  flex: auto;
  text-align: right;
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  width: 60%;
  margin-left: 38%;
}
.game-play-image .game-play-img-one {
  width: 400px;
  height: 500px;
  text-align: end;
  margin-top: 60px;
}
.game-play-image .game-play-img-two {
  width: 200px;
  height: 250px;
  border: 10px solid #fff;
  transform: translate(-130px, -170px);
}
/* games name */
.games-all-name {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  margin: 0 150px;
  transition: 0.5s ease-in-out;
  gap: 30px;
  justify-items: center;
  align-self: center;
}
.game-name-container {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 13px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: 0.5s ease-in-out;
}
.game-name-container .games-log {
  width: 60px;
  height: 60px;
}
.game-name-container:hover {
  color: #f948b2;
  border: 1px solid #ff42a5;
  border-radius: 10px;
}
/* footer design */
footer {
  margin-top: 3rem;
  width: 100%;
  height: auto;
  background: #0b0223;
}
.footer-head {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 3rem;
}
.footer-head > h3 {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
}
.my-game-work {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 60px;
  gap: 60px;
}
.my-game-work > p {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding-top: 2rem;
  text-align: center;
}
.my-social-links {
  text-align: center;
  font-size: 50px;
  margin-top: 2rem;
}
.my-social-links .bxl-twitter {
  color: #fff;
}
.my-social-links .bxl-facebook {
  color: #1877f2;
  background: #fff;
  border-radius: 50%;
}
.my-social-links .bxl-youtube {
  background: #ffffff;
  color: #ff0000;
  border-radius: 50%;
}
.my-social-links .bxl-linkedin {
  color: #fff;
}
.my-social-links .bxl-instagram {
  color: #fff;
}
.my-social-links .bxl-apple {
  color: #fff;
}
.info {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 1.5rem;
}
.info > h4 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
}
.copy-write small {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);

  font-size: 16px;

  font-weight: 500;
  margin-top: 1rem;
}
